*{
	padding: 0;
	margin: 0;

}
body{
background-color: rgba(0,0,0,.05);
}

.head .course_head{
	width:100%;
	height:65px;
	padding-top:5px;
	border-bottom: 2px solid rgba(0,0,0,.10); 
	background:#fff;
}
.head .course_head .container{
	width: 1280px;
}
.head .course_head .navbar{
	background-color:white;
	border:none;
}
.head .course_head .navbar .collapse .login-area{
  font-size: 13px;
}
.head .course_head .navbar .collapse .login-area li{
 margin-right: 5px; 
}
.head .course_head .navbar .collapse .login-area li:hover{
 box-shadow: 2px 2px 15px rgba(0,0,0,.20) ;
}
.head .course_head .navbar .collapse .login-area li a:hover{
	color: green;
}

.course_box .container{
	width:1280px; 
	margin-top:20px;
}
.course_box .container .course_list{
    margin:0 20px;
    background-color: #fff;
    padding: 10px 0;
}
.course_box .container .course_list h4{
  text-align: center;
  color: #dc5e2e;

}
.course_box .container .course_list .item_list li{
	margin: 0;	

}
.course_box .container .course_list .item_list .current a{
  color: green;
}
.course_box .container .course_list .item_list li a {
  color: #777;	
}